{% extends 'home/base.html' %}
{% load static %}
{% block title %}Домашняя страница{% endblock %}
{% block content %}
<div class="mx-auto" style="width: 45%;">
  <form action="{% url 'home_url' %}">
    <input class="form-control" type="search" placeholder="Поиск новостей" name="search_news">
     <div class="card text-center">
       <div class="card-body">
      <button type="submit" style="width:220px;" class="btn btn-outline-primary">Поиск</button>
       </div>
     </div>
  </form>
<div class="container" style="padding-left:0; padding-right:0;">
{% for name in page_object.object_list %}
    <div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">{{ name.title }}</h5>
      <img src="{{ name.image.url }}" class="card-img-top" style="width:200px;">
      <img src="{{ name.image_two.url }}" class="card-img-top" style="width:200px;">
      <img src="{{ name.image_three.url }}" class="card-img-top" style="width:200px;">
      <div class="overflow-auto" >
        <p style="overflow: hidden;
            width: 60%;
            height: 100px;
            margin-left:20%;" class="card-text" >
            {{ name.text_article }}
        </p>
      </div>
    <a href="{{ name.get_absolute_url }}" class="btn btn-primary">Перейти</a>
  </div>
    </div>
{% endfor %}
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      <a class="page-link" href="{{ prev_url }}">Назад</a>
    {% for n in page_object.paginator.page_range %}
      {%  if page_object.number == n %}
    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3  %}
            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
        {% endif %}
    {% endfor %}
      <a class="page-link" href="{{ next_url }}">Вперед</a>
  </ul>
</nav>
</div>
{% endblock %}
