{% extends 'home/base.html' %}
{% load static %}
{% block title %}Домашняя страница{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
{% for name in page_object.object_list %}

    <div class="col">
 <div class="card" style="width: 18rem;">
  <img src="{{ name.image.url }}" class="card-img-top" style="width:70px;">
  <div class="card-body">
    <h5 class="card-title">Заголовок статьи: {{ name.title }}</h5>
      <h5 class="card-title">Тело статьи : {{ name.text_article }}</h5>
    <a href="{{ name.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
  </div>
 </div>
    </div>
{% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4"></div>
      <div class="col-6 col-md-4">
    <a href="{{ prev_url }}" >«</a>
    {% for n in page_object.paginator.page_range %}
      {%  if page_object.number == n %}
        <a class="work" href="?page={{ n }}">{{ n }}</a>
        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3  %}
            <a href="?page={{ n }}" >{{ n }}</a>
        {% endif %}
    {% endfor %}
    <a href="{{ next_url }}">»</a>
      </div>
      <div class="col-6 col-md-4"></div
    </div>
  </div>
{% endblock %}
