{% extends 'home/base.html' %}
{% load static %}
{% block title %}Сообщения{% endblock %}
{% block link %}{% endblock %}
{% block content %}

<div id="id_content"></div>
<div id="chat-message-submit"></div>
<div class="mx-auto" style="width: 35%;">
    <form action="{% url 'chat_url' %}">
        <input class="form-control" type="search" placeholder="Поиск людей" name="search_chats">
        <div class="card text-center">
            <div class="card-body">
                <button type="submit" style="width:100%;" class="btn btn-outline-primary">Поиск</button>
            </div>
        </div>
    </form>
    <a style="width:100%;" class="btn btn-outline-primary" href="{% url 'new_chat_url' %}">Начать новый чат</a>

  {% for chat in body_chat %}
    {% if chat.count == 2 %}
        {% if request.user == chat.members.all.0 %}
            <div id="chat-log">
            <div class="card" id="chat_{{chat.id}}" onClick="document.location='{{ chat.id }}'">
                <div {% if chat.message.0.author == request.user %} class="media" {% elif not chat.message %} class="media" {% elif chat.message.0.is_readed != 1 %} class="media new-message" {% else %} class="media" {% endif %}>
                    <img src="/media/{{ chat.members.all.1.profile.image }}" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение">
                    <div class="media-body">
                        <h7 class="mt-0">
                            <a href="/account/{{ chat.members.all.1.profile.slug }}" style="float:left;">{{ chat.members.all.1.profile.first_name }} {{ chat.members.all.1.profile.last_name }}</a>
                            <p style="font-size:10pt; color: #5f5f5f; text-align:left;">&nbsp; &nbsp;{{ chat.message.0.timestamp }}</p>
                            {% if request.user == chat.message.0.author %}
                                <h7>Вы: {{ chat.message.0.content }}</h7>
                            {% else %}
                                <h7>{{ chat.members.all.1.profile.first_name }}: {{ chat.message.0.content }}</h7>
                            {% endif %}
                        </h7>
                    </div>
                </div>
            </div>
            </div>
        {% elif request.user == chat.members.all.1 %}
            <div id="chat-log">
            <div class="card" id="chat_{{chat.id}}" onClick="document.location='{{ chat.id }}'">
                <div  {% if chat.message.0.author == request.user %} class="media" {% elif not chat.message %} class="media" {% elif chat.message.0.is_readed != 1 %} class="media new-message" {% else %} class="media" {% endif %}>
                    <img src="/media/{{ chat.members.all.0.profile.image }}" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение">
                    <div class="media-body">
                        <h7 class="mt-0">
                            <a href="/account/{{ chat.members.all.1.profile.slug }}" style="float:left;">{{ chat.members.all.0.profile.first_name }} {{ chat.members.all.0.profile.last_name }}</a>
                            <p style="font-size:10pt; color: #5f5f5f; text-align:left;">&nbsp; &nbsp;{{ chat.message.0.timestamp }}</p>
                            {% if request.user == chat.message.0.author %}
                                <h7>Вы: {{ chat.message.0.content }}</h7>
                            {% else %}
                                <h7>{{ chat.members.all.0.profile.first_name }}: {{ chat.message.0.content }}</h7>
                            {% endif %}
                        </h7>
                    </div>
                </div>
            </div>
            </div>
        {% endif %}

    {% else %}
        В этом чате больше 2 человек
            <div id="chat-log">
        <div class="card" id="chat_{{chat.id}}" onClick="document.location='{{ chat.id }}'">
            <div  {% if chat.message.0.author == request.user %} class="media" {% elif not chat.message %} class="media" {% elif chat.message.0.is_readed != 1 %} class="media new-message" {% else %} class="media" {% endif %}>
                <img src="/media/{{ chat.image_chat }}" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение">
                <div class="media-body">
                    <h7 class="mt-0">
                        <a href="{{ chat.id }}" style="float:left;">{{ chat.group_name }}</a>
                            <p style="font-size:10pt; color: #5f5f5f;float:left;">&#160; &#160;&#160; &#160;
                                <a style="font-size:10pt; color: #5f5f5f;float:left; position:absolute; right:2%;" href="edit_chat/{{chat.id}}">Изменить</a>
                            </p>
                        <p style="font-size:10pt; color: #5f5f5f; text-align:left;">&nbsp; &nbsp;{{ chat.message.0.timestamp }}</p>
                        {% if request.user == chat.message.0.author %}
                            <h7>Вы: {{ chat.message.0.content }}</h7>
                        {% else %}
                            <h7>{{ chat.members.all.0.profile.first_name }}: {{ chat.message.0.content }}</h7>
                        {% endif %}
                    </h7>
                </div>
            </div>
        </div>
        </div>
    {% endif %}
  {% endfor %}

</div>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ user.id }};


    var userSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/user/' + username + '/');

    userSocket.onopen = function(e) {
      fetchMessages();
    }

    userSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);

          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);

        }
    };

    userSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#id_content').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('id_content');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username,
            'room_name': username

        }));
        messageInputDom.value = '';
    };

    function fetchMessages() {
      userSocket.send(JSON.stringify({'command': 'fetch_messages' }));
    }

    function createMessage(data) {

      var author = data['author'],
          first_name = data['first_name'],
          image = data['image'],
          id = data['id'],
          read_message = data['read_message'],
          slug = data['slug'],
          room_id = data['room_id'],
          timestamp = data['timestamp'],
          owner_class = 'text-right';
      if (author === username) {
        owner_class = 'text-left';
      }
        $('#chat_'+room_id).remove();
      var read = '<div class="media'+((read_message) ? ' new-message' : '')+'" ><img src="'+image+'" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение"><div class="media-body"><h7 class="mt-0"><a href="/account/'+slug+'" style="float:left;">'+first_name+'</a><p style="font-size:10pt; color: #5f5f5f; text-align:left;">&#160; &#160;'+timestamp+'</p><h7>'+data.content+'</h7></div></div>';

      $('<div class="card" id="chat_'+room_id+'" onClick="document.location='+room_id+'">'+read+'</div>').prependTo('#chat-log');

   }

</script>
{% endblock %}
