{% extends 'home/base.html' %}
{% load static %}
{% block title %}Новый чат{% endblock %}
{% block content %}
<form method="POST" enctype=multipart/form-data>
    {% csrf_token %}
    Выбрать получателей(нажмите ctrl и не забудьте указать получателем себя :))
    {{ new_chat.members }}
    Название группы:
    {{ new_chat.group_name }}
    Главное изображение группы:
    {{ new_chat.image_chat }}
    <button type="submit" style="margin-top:1%; margin-bottom:1%; width:100%;" class="btn btn-outline-primary">Добавить</button>
</form>
{% if chat %}
  {% for chat in chat %}
    <div class="card text-center"  onClick="document.location='{{ chat.slug }}'">
    <div class="media" >
      <img src="/media/{{ chat.user.profile.image }}" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение">
      <div class="media-body">
        <h7 class="mt-0">
          <a href="{{ chat.slug }}" style="float:left;"> {{ chat.group_name }}
          {{ chat.user.profile.first_name }} {{ chat.user.profile.last_name }}
          </a>
          <p style="font-size:10pt; color: #5f5f5f; text-align:left;">&#160; &#160;{{ chat.message.0.pub_date }}</p>
        </h7>
        <p style="text-align:left;overflow: hidden;height: 50px;">{{ chat.message.0.message }}</p>
      </div>
        </div>
    </div>
        {% endfor %}
{% endif %}

</div>

<div id="id_content"></div>
<div id="chat-message-submit"></div>
<div id="chat-log"></div>
  <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
{% endblock %}
