{% extends 'home/base.html' %}
{% load static %}
{% block title %}Личные cообщения{% endblock %}
{% block link %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endblock %}
{% block content %}

<div class="mx-auto" style="width: 35%;">
<!--  {% for chat in body_chat %}-->
<!--    <div class="card text-center">-->
<!--    <div class="media" >-->
<!--      <img src="/media/{{ chat.author.profile.image }}" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение">-->
<!--      <div class="media-body">-->
<!--        <h7 class="mt-0">-->
<!--          <a href="/account/{{ chat.author.profile.slug  }}" style="float:left;">-->
<!--          {{ chat.author.profile.first_name }} {{ chat.author.profile.last_name }}-->
<!--          </a>-->
<!--          <p style="font-size:10pt; color: #5f5f5f; text-align:left;">&#160; &#160;{{ chat.pub_date }}</p>-->
<!--        </h7>-->
<!--      </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    {% endfor %}-->

<div id="chat-log">
  {% comment %}
  <div class="card text-center">
    <div class="media" >
      <img src="/media/" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение">
      <div class="media-body">
        <h7 class="mt-0">
          <a href="/account/{{ chat.author.profile.slug  }}" style="float:left;">
          Имя Фамилия
          </a>
          <p style="font-size:10pt; color: #5f5f5f; text-align:left;">&#160; &#160;Сообщение</p>
        </h7>
      </div>
    </div>
  </div>
  {% endcomment %}
</div>

<form method="post">
    {% csrf_token %}
    <textarea name="content" required="" id="id_content" style="width:100%;"></textarea></br>
    <button id="chat-message-submit"  type="submit" style="margin-top:1%; margin-bottom:1%; width:100%;" class="btn btn-outline-primary">Добавить</button>
</form>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#id_content').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('id_content');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username,
            'room_name': roomName
        }));
        messageInputDom.value = '';
    };

    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
    }

    function createMessage(data) {

      var author = data['author'],
          first_name = data['first_name'],
          image = data['image'],
          slug = data['slug'],
          timestamp = data['timestamp'],
          owner_class = 'text-right';
      if (author === username) {
        owner_class = 'text-left';
      }

      var text = '<div class="card"><div class="media" ><img src="'+image+'" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение"><div class="media-body"><h7 class="mt-0"><a href="/account/'+slug+'" style="float:left;">'+first_name+'</a><p style="font-size:10pt; color: #5f5f5f; text-align:left;">&#160; &#160;'+timestamp+'</p></h7>'+data.content+'</div></div></div>';
      $('#chat-log').append(text);

    }

</script>
{% endblock %}
