{% extends 'home/base.html' %}
{% load static %}
{% block title %}Личные cообщения{% endblock %}
{% block link %} {% endblock %}
{% block content %}

{% if request.user not in list_users %}
  Боюсь у вас нет такого доступа
{% else %}
<div class="mx-auto" style="width: 35%;">

<div id="chat-log">
  {% comment %}
  <div class="card text-center">
    <div class="media" >
      <img src="/media/" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение">
      <div class="media-body">
        <h7 class="mt-0">
          <a href="/account/{{ chat.author.profile.slug  }}" style="float:left;">
          </a>
          <p style="font-size:10pt; color: #5f5f5f; text-align:left;">&#160; &#160;Сообщение</p>
        </h7>
      </div>
    </div>
  </div>
  {% endcomment %}
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea name="content" required="" id="id_content" style="width:100%;"></textarea></br>
<!--    <input type="file" name="image_message" accept="image/*" id="id_image_message">-->
<!--    <input type="image" name='image_message' id="id_image_message" >-->
    <button id="chat-message-submit"  type="submit" style="margin-top:1%; margin-bottom:1%; width:100%;" class="btn btn-outline-primary">Добавить</button>
</form>

<input id="upload" type="file" onchange="selectFile()">
<!--<form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--        {{ message_form.as_p }}-->
<!--</form>-->


<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script>
function selectFile() {
	e = document.getElementById('upload')
  if(e.files[0]) {
    let item = e.files[0];

    let filesize = item.size;
    let filesizeMB = (filesize / (1024 * 1024)).toFixed(2);
    if (filesizeMB >= 3) {
      alert('Максимальный размер фотографии 3 мб');
    } else {

var $input = $("#uploadimage");
    var fd = new FormData;

    fd.append('image_message', item);
    fd.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    $.ajax({
        url: '/chat/upload/',
        type: 'POST',
        data: fd,
        processData: false,
        contentType: false,

<!--        csrfmiddlewaretoken: '{{ csrf_token }}',-->
        success: function (data) {
            console.log(data);
        }
    });
    }
  } else {
    alert('Файл не найден');
  }
}

</script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');


    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#id_content').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('id_content');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username,
            'room_name': roomName,
            'image_message': {{ image_message }}
        }))

        messageInputDom.value = '';
    };

    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
    }

    function createMessage(data) {

      var author = data['author'],
          first_name = data['first_name'],
          image = data['image'],
          slug = data['slug'],
          id = data['id'],
          timestamp = data['timestamp'],
          owner_class = 'text-right';
      if (author === username) {
        owner_class = 'text-left';
      }
      var text = '<div class="card"><div class="media" ><img src="'+image+'" style="width:100px; padding:5px;" class="mr-3" alt="Не удалось загрузить изображение"><div class="media-body"><h7 class="mt-0"><a href="/account/'+slug+'" style="float:left;">'+first_name+'</a><p style="font-size:10pt; color: #5f5f5f; text-align:left;">&#160; &#160;'+timestamp+'</p><h7>'+data.content+'</h7></div></div></div>';

        $('#chat-log').append(text);

    }
</script>

  {% endif %}
{% endblock %}
