{% extends 'home/base.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registr.css' %}"/>
{% endblock %}
{% block content %}
<div class="mx-auto" style="width: 220px;">
  <h2>Вход в аккаунт</h2>
      <form method="post">
        {% csrf_token %}
        Логин</br>
        {{ form.username }}
        Пароль</br>
        {{ form.password }}
        <button type="submit" style="margin-top:1%; width:215px;" class="btn btn-outline-primary">Войти</button>
  </form>
</div>
{% endblock %}
