{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ user.profile.first_name }} {{ user.profile.last_name }}{% endblock %}
{% block content %}
<div class="mx-auto" style="width: 45%;">
<div class="container">
  <div class="row" style="margin-top:3%;">
    <div class="col">
      <img src='/media/{{ user.profile.image }}' alt="Не удалось загрузить изображение" class="img-thumbnail" style="width:200px;">
    </div>
    <div class="col">
      <h4>{{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
        <p>Информация о вас: </br>{{ user.profile.bio }}</p>
      <p>Дата рождения: </br>{{ user.profile.birth_date }}</p>
    </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary" onclick="document.location='edit/'">Редактировать</button>
          <p>Логин: {{ user.username}}</p>
      </div>
  </div>
</div>
{% endblock %}
