{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ user.profile.first_name }} {{ user.profile.last_name }}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src='/media/{{ user.profile.image }}' alt="Не удалось загрузить" style="width:300px">
    </div>
    <div class="col">
      <p>Ваше имя: </br>{{ user.profile.first_name }} {{ user.profile.last_name }}</p>
        <p>Информация о вас: </br>{{ user.profile.bio }}</p>
      <p>Дата рождения: </br>{{ user.profile.birth_date }}</p>
    </div>
      <div class="col">
          <a href="{% url 'my_page_edit_url' %}">Редактировать</a>
          <p>Ваш логин: {{ user.username}}</p>
      </div>
  </div>
{% endblock %}
