{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ user.profile.first_name }} {{ user.profile.last_name }}{% endblock %}
{% block content %}
<div class="mx-auto" style="width: 35%;">
<div class="container">
  <div class="row" style="margin-top:3%;">
    <div class="col">
      <img src='/media/{{ user.profile.image }}' alt="Не удалось загрузить изображение" class="img-thumbnail" style="width:200px;">
    </div>
    <div class="col">
      <h4>{{ user.profile.first_name }} {{ user.profile.last_name }}</h4>
      <p>Занимаемая должность: </br>{{ user.profile.position }}</p>
      <p>Электронная почта: </br><a href="mailto:{{ user.profile.email }}">{{ user.profile.email }}</a></p>
      <p>Номер телефона: </br>{{ user.profile.number_phone }}</p>
      <p>Информация о вас: </br>{{ user.profile.bio }}</p>
      <p>Дата рождения: </br>{{ user.profile.birth_date }}</p>
    </div>
      <div class="col">
        <button type="button" class="btn btn-outline-primary" onclick="document.location='edit/'">Редактировать</button>
          <p>Логин: {{ user.username}}</p>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-12">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <textarea class="form-control" name="text" cols="40" rows="2" maxlength="1000" id="id_text"></textarea>
      {{ form.image }}
      <button type="submit" style="margin-top:1%; margin-bottom:1%; width:215px;" class="btn btn-outline-primary">Добавить</button>
    </form>
    </div>
    <div class="col">
    </div>
  </div>
{% for post in my_posts %}
<div class="card text-center" style="text-align:left !important">
  <div class="card-body">
    <div class="col-md-12">
      <h5 class="card-title">
        <p style="float:left;">
          {{ post.author.profile.first_name }} {{ post.author.profile.last_name }}
        </p>
        <p style="font-size:10pt; color: #5f5f5f;float:left;">&#160; &#160; {{ post.datetime }}&#160; &#160;
          <a href="edit_post/{{post.id}}">Изменить</a> |
          <a onclick="if(confirm('Удалить?')){ return true } else { return false }" href="delete_post/{{post.id}}">Удалить</a>
        </p>
      </h5>
    </div>
  <div class="col-md-12" style="float: left;">
    <p>{{ post.text }}</p>
  </div>
  {% if post.image.name %}
      <img src="{{ post.image.url }}" class="card-img-top" style="max-width:100%;">
  {% endif %}
  </div>
</div>
{% endfor %}

  <div id="id_content"></div>
<div id="chat-message-submit"></div>
<div id="chat-log"></div>
  <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
  <script src="/static/js/websockets.js"></script>
{% endblock %}
