{% extends 'home/base.html' %}
{% load static %}
{% block title %}{{ user_data.first_name }} {{ user_data.last_name }}{% endblock %}
{% block content %}
<div class="mx-auto" style="width: 35%;">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src='/media/{{ user_data.image }}' alt="Не удалось загрузить изображение" class="img-thumbnail" style="width:200px;">
        <a class="btn btn-outline-primary" style="width:200px;" href="/chat/{{ new_chat }}">Написать</a>
      </div>
      <div class="col">
        <h4>{{ user_data.first_name }} {{ user_data.last_name }}</h4>
        <p>Должность: </br>{{ user_data.position }}</p>
        <p>Электронная почта: </br><a href="mailto:{{ user_data.email }}">{{ user_data.email }}</a></p>
        <p>Номер телефона: </br>{{ user_data.number_phone }}</p>
        <p>Информация о пользователе: </br>{{ user_data.bio }}</p>
        <p>Дата рождения: </br>{{ user_data.birth_date }}</p>
    </div>
  </div>
</div>
{% for post in user_context %}
<div class="card text-center" style="text-align:left !important">
  <div class="card-body">
    <div class="col-md-12">
      <h10 class="card-title" >
        <p style="float:left;">{{ post.author.profile.first_name }}
        {{ post.author.profile.last_name }}</p>
        <p style="font-size:10pt; color: #5f5f5f;">&#160; &#160;{{ post.datetime }}</p>
      </h10>
    </div>
    <div class="col-md-12" style="float: left;">
      <p>{{ post.text }}</p>
    </div>
    {% if post.image.name %}
      <img src="{{ post.image.url }}" class="card-img-top" style="max-width:100%;">
    {% endif %}
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
